body {
    background-color:darkblue;
    padding :20px;
    width: 100%;
    color: white;
}

ul {
    display:  inline-block;
    

}
li{
    display: inline-block;
    color:white;
}
/*
.box{
    width:80%;
    height:700px;
    padding:20px;
    background-color:yellow;
} */